.order-canceled-container {
  border-radius: 20px;
  background-color: rgba(240, 139, 141, 1);
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: var(--font-color);
  justify-content: start;
  margin: 0 auto;
  padding: 97px 35px;
  font: 500 16px League Spartan, sans-serif;
}


.content-wrapper {
  border-radius: 0;
  align-self: stretch;
  display: flex;
  min-width: 240px;
  width: 323px;
  flex-direction: column;
  margin: auto 0;
  padding: 3px 0;
}


.decorative-image {
  aspect-ratio: 0.62;
  object-fit: contain;
  object-position: center;
  width: 8px;
  border-radius: 10px;
}


.message-container {
  display: flex;
  margin-top: 109px;
  flex-direction: column;
  align-items: center;
  padding: 0 18px;
}


.status-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 146px;
  max-width: 100%;
}


.status-title {
  text-transform: capitalize;
  margin-top: 19px;
  font: 900 24px Inter, sans-serif;
}


.status-message {
  text-align: center;
  margin-top: 15px;
}


.cancel-time {
  text-align: center;
  margin-top: 51px;
}


.thank-you-message {
  color: var(--white);
  text-align: center;
  font-size: 20px;
  margin-top: 28px;
}


.support-message {
  text-align: center;
  align-self: stretch;
  margin-top: 170px;
}


:root {
  --font-color: #391713;
  --white: #fff;
}
