:root {
  --primary-spacing: 10px;
  --min-section-width: 240px;
}

.container {
  display: flex;
  align-items: center;
  gap: var(--primary-spacing);
  justify-content: flex-start;
}


.content-wrapper {
  align-self: stretch;
  display: flex;
  min-width: var(--min-section-width);
  width: 100%;
  align-items: center;
  gap: var(--primary-spacing);
  justify-content: flex-start;
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
}


.image-container {
  align-self: stretch;
  display: flex;
  min-width: var(--min-section-width);
  width: 100%;
  flex-direction: column;
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
}


.responsive-image {
  aspect-ratio: 0.64;
  object-fit: contain;
  object-position: center;
  width: 100%;
}


@media (max-width: 991px) {
  .content-wrapper,
  .image-container,
  .responsive-image {
    max-width: 100%;
  }
}
