.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


.image-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
}


.image-wrapper {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  width: 100%;
  flex-direction: column;
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
}


.responsive-image {
  aspect-ratio: 0.64;
  object-fit: contain;
  object-position: center;
  width: 100%;
}


@media (max-width: var(--breakpoint-tablet)) {
  .image-wrapper {
    max-width: 100%;
  }
 
  .responsive-image {
    max-width: 100%;
  }
}


:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --breakpoint-tablet: 991px;
}
