.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.order-confirmation {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
  margin: 0 auto;
}

.header {
  border-radius: 20px;
  background-color: var(--pink-primary);
  width: 100%;
  padding: 73px 0 0;
  color: var(--font-secondary);
  font: 700 28px League Spartan, sans-serif;
}

.header-content {
  display: flex;
  margin-left: 35px;
  width: 254px;
  gap: 20px;
  justify-content: space-between;
}

.back-arrow {
  aspect-ratio: 0.62;
  width: 8px;
  border-radius: 10px;
  margin: auto 0;
}

.main-content {
  background-color: var(--font-secondary);
  margin-top: 24px;
  width: 100%;
  min-height: 73px;
}

.order-details {
  z-index: 10;
  margin-top: -34px;
  width: 100%;
  padding: 0 11px;
}

.shipping-section {
  width: 100%;
  max-width: 350px;
}

.section-title {
  color: var(--font-primary);
  text-transform: capitalize;
  font: 700 24px/1 League Spartan, sans-serif;
  padding: 10px;
}

.address-container {
  position: relative;
  width: 100%;
  padding: 8px 0;
}

.address-background {
  border-radius: 20px;
  background-color: var(--pink-secondary);
  min-height: 49px;
  width: 100%;
}

.address-text {
  position: absolute;
  width: 100%;
  color: var(--font-primary);
  text-transform: capitalize;
  font: 400 16px League Spartan, sans-serif;
  padding: 20px;
}

.order-summary-header {
  display: flex;
  width: 100%;
  max-width: 334px;
  align-items: center;
  justify-content: space-between;
  margin-top: 19px;
}

.summary-title {
  font: 500 20px League Spartan, sans-serif;
  color: var(--font-primary);
  padding: 10px;
}

.edit-button {
  border-radius: 19px;
  background-color: var(--pink-secondary);
  color: var(--brown-accent);
  font: 400 12px League Spartan, sans-serif;
  padding: 3px;
  text-align: center;
  min-width: 58px;
}

.divider {
  width: 100%;
  max-width: 323px;
  height: 1px;
  border: 1px solid var(--orange-light);
  margin: 4px 0;
}

.order-item {
  display: flex;
  width: 100%;
  max-width: 337px;
  gap: 2px;
  margin-top: 8px;
}

.item-image {
  aspect-ratio: 0.67;
  width: 72px;
  margin-top: 18px;
}

.item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.item-content {
  display: flex;
  justify-content: space-between;
  margin: 6px 11px;
}

.item-info {
  color: var(--font-primary);
}

.item-title {
  font: 500 20px League Spartan, sans-serif;
}

.item-time {
  font: 300 14px League Spartan, sans-serif;
  margin-top: 5px;
}

.item-price {
  text-align: right;
}

.price {
  color: var(--brown-light);
  font: 500 20px League Spartan, sans-serif;
}

.items-count {
  color: var(--font-primary);
  font: 300 14px League Spartan, sans-serif;
}

.item-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.cancel-button {
  border-radius: 100px;
  background-color: var(--pink-secondary);
  color: var(--brown-accent);
  font: 400 15px League Spartan, sans-serif;
  padding: 3px 12px;
}

.quantity-control {
  display: flex;
  gap: 5px;
  font: 400 18px League Spartan, sans-serif;
  color: var(--font-primary);
}

.quantity-buttons {
  border-radius: 14px;
  display: flex;
  gap: 8px;
}

.quantity-button {
  aspect-ratio: 1;
  width: 20px;
  border-radius: 14px;
}

.order-summary {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
  font: 500 20px League Spartan, sans-serif;
  color: var(--font-primary);
}

.summary-row {
  margin: 24px 0;
}

.place-order-button {
  border-radius: 52px;
  background-color: var(--pink-dark);
  color: white;
  font: 400 23px League Spartan, sans-serif;
  padding: 8px;
  text-align: center;
  width: 157px;
  margin-top: 11px;
}

:root {
  --font-primary: #391713;
  --font-secondary: #f8f8f8;
  --pink-primary: #F08B8D;
  --pink-secondary: #F3B5CC;
  --pink-dark: #BF7F96;
  --orange-light: #FFD8C7;
  --brown-accent: #A6594B;
  --brown-light: #AF645B;
}