<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Section</title>
    <link rel="stylesheet" href="/css/addCartCss.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="div">
        <div class="principal-page-version-1">
            <div class="div-2">
                <div class="div-3">
                    <a href="/he-she">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b5b8dddb00bc40219643e888b18307d55a612c4390e59e8e48b526d6b211777?placeholderIfAbsent=true&apiKey=527172d7730945dc833e7de1a5dbb2ba" class="img" alt="Back button"/>
                    </a>
                    <div class="div-4">
                        <div class="my-cart">My Cart</div>
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b4e2f8e881ba50550a1025b2f1bd258467dde38abca0eeec68e1beaa8a048c5d?placeholderIfAbsent=true&apiKey=527172d7730945dc833e7de1a5dbb2ba" class="img-2" alt="Cart icon"/>
                    </div>
                </div>
                <div class="you-have-2-items-in-the-cart">You have 2 items in the cart</div>
            </div>
            <div class="div-5">
                <div class="items-in-cart">Items in cart:</div>
                <div class="div-6">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/47c8c6f2302c0b17040352ecc4970cbca51cb953d8349c4995483b2523d6d103?placeholderIfAbsent=true&apiKey=527172d7730945dc833e7de1a5dbb2ba" class="img-3" alt="Pistachio Cheesecake"/>
                    <div class="div-7">
                        <div class="div-8">
                            <div class="pistachio-cheesecake">Pistachio Cheesecake</div>
                            <div class="div-9">
                                <div>25/11/24</div>
                                <div class="time-15">15:00</div>
                            </div>
                        </div>
                        <div class="div-10">
                            <div class="rm-9-90">RM9.90</div>
                            <div class="div-11">
                                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ba4a76263f6119cc909107973f190cbecd086c89e5ae584bc5d0716384cbe845?placeholderIfAbsent=true&apiKey=527172d7730945dc833e7de1a5dbb2ba" class="img-4" alt="Decrease quantity"/>
                                <div>2</div>
                                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6e15fefa42b9e13aa4ddc0925eada728fe719486ec96a98f90cb0c1870963485?placeholderIfAbsent=true&apiKey=527172d7730945dc833e7de1a5dbb2ba" class="img-5" alt="Increase quantity"/>
                            </div>
                        </div>
                    </div>
                </div>
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/003ecb321d8178e33d18100f6f10b7488d425780ef30788f38e0afea493ca552?placeholderIfAbsent=true&apiKey=527172d7730945dc833e7de1a5dbb2ba" class="img-6" alt="Divider"/>
                <div class="div-12">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/94a61be7380a086b0ac98c7244e83f45927888f7fa22125727610a706f453480?placeholderIfAbsent=true&apiKey=527172d7730945dc833e7de1a5dbb2ba" class="img-7" alt="Crazy Shawarma"/>
                    <div class="div-13">
                        <div class="div-14">
                            <div class="crazy-shawarma">Crazy Shawarma</div>
                            <div class="rm-7-00">RM7.00</div>
                        </div>
                    </div>
                    <div class="div-15">
                        <div class="div-16">
                            <div class="div-17">
                                <div class="div-18">
                                    <div>25/11/24</div>
                                    <div class="time-12">12:00</div>
                                </div>
                            </div>
                        </div>
                        <div class="div-19">
                            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ba4a76263f6119cc909107973f190cbecd086c89e5ae584bc5d0716384cbe845?placeholderIfAbsent=true&apiKey=527172d7730945dc833e7de1a5dbb2ba" class="img-8" alt="Decrease quantity"/>
                            <div>1</div>
                            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6e15fefa42b9e13aa4ddc0925eada728fe719486ec96a98f90cb0c1870963485?placeholderIfAbsent=true&apiKey=527172d7730945dc833e7de1a5dbb2ba" class="img-9" alt="Increase quantity"/>
                        </div>
                    </div>
                </div>
                <div class="div-20">
                    <div class="div-21">
                        <div>Subtotal</div>
                        <div class="delivery">Delivery</div>
                        <div class="total">Total</div>
                    </div>
                    <div class="div-22">
                        <div>RM 26.80</div>
                        <div class="rm-2-00">Based on service</div>
                        <div class="rm-18-90">RM 26.80</div>
                    </div>
                </div>
                <a href="/chooseservice">
                <button class="filter">Check Out</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>