<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add to card</title>
        <link rel="stylesheet" href="/css/addCartCss.css">
    </head>

    <body>
        <div class="image-container">
            <a style="
                        background-color: #f5f5f5;
                        color: black;
                        padding: 12px 2px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        border-radius: 100%;
                        position: relative;
                        left: 73px;
                        top: -762px;
                        width: 41px;
                        height: 43px;
                        " href="/paymentmethods" target="_self">&lt;</a>
            <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/bfc68a298f750f3441ff3055847ee725d75631fb303634121a8aa6606893ef60?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4"
                class="hero-image"
                alt="Hero section main image"
                  />
            <a style="
                        position: relative;
                        background-color: #bf7f96;
                        color: white;
                        padding: 10px 5px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        border-radius: 20%;
                        left: -271px;
                        top: -110px;
                        width: 160px;
                        height: 46px;
                        font-size: 150%;
                        " href="/paymentmethods" target="_self">Save Card</a>
            
        </div>
    </body>