<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Choose Your Service</title>
        <link rel="stylesheet" href="/css/chooseServiceCss.css">
    </head>
    <body>
        <section class="order-section">
            <div class="order-header">
                <div class="header-content">
                    <img class="back-icon" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f4929e46de36f36c51b0041ba90305025f1da358db292dfda5a0587c459533ef?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4" alt="" />
                    <div>Confirm Order</div>
                </div>
                <div class="service-section">
                    <div class="service-title-wrapper">
                        <div class="title-container">
                            <div class="title-content">
                                <h2 class="choose-your-service">Choose your Service</h2>
                            </div>
                        </div>
                    </div>
                    <img class="service-icon" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c6b6b6bda9abf1a681f68e2082234a253c2fc822e05c0e7c005b8813f6dcef82?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4" alt="Dine in service icon" />
                    <button class="service-button" tabindex="0">Dine in</button>
                    <div class="divider"></div>
                    <img class="service-icon" src="https://cdn.builder.io/api/v1/image/assets/TEMP/641fe516757a6949ded7aaebbd00c24c4ce395948c70314429c3efe106b9c456?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4" alt="Doorstep delivery icon" />
                    <button class="service-button" tabindex="0">Doorstep delivery</button>
                    <div class="divider"></div>
                    <img class="service-icon" src="https://cdn.builder.io/api/v1/image/assets/TEMP/8befc560e21f28f2ff5adccc71b26ce2c9138dc539cf4a522997f295247ab5fc?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4" alt="Pick up service icon" />
                    <button class="service-button" tabindex="0">Pick up</button>
                    <div class="divider"></div>
                </div>
            </div>
        </section>
    </body>
