<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dining Reservation</title>
        <link rel="stylesheet" href="/css/diningTimeCss.css">
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="content-wrapper">
                <div class="delivery-section">
                    <div class="image-container">
                        <img
                            loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/e43f32b19c752ad772ecbc87155984007798a3813dde9b2efac52071285c83c5?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4"
                            class="delivery-image"
                            alt="Delivery service illustration"
                            />
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>