<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Featured image section with responsive design">
    <title>Rider Registration Page</title>
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/variables.css">
</head>
<body>
    <main>
        <section class="section-wrapper" aria-label="Featured content section">
            <div class="content-container">
                <div class="image-container">
                    <a style="
                        background-color: #f5f5f5;
                        color: black;
                        padding: 2px 2px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        border-radius: 100%;
                        position: relative;
                        left: 44px;
                        top: -726px;
                        width: 24px;
                        height: 23px;
                        " href="/" target="_self">&lt;</a>
                    <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/5ceb83903898b794ace184bef626fde1cd688b4c8b77d3f66ee8a2d1c2934f69?placeholderIfAbsent=true&apiKey=d0bcfac6773b422b93b43786ecb1116f"
                        class="feature-image"
                        alt="Featured content"
                        width="456"
                        height="782"
                    />
                    <a style="
                        position: relative;
                        background-color: #bf7f96;
                        color: white;
                        padding: 10px 5px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        border-radius: 20%;
                        left: -303px;
                        top: -42px;
                        background-color: #ff7622;
                        width: 136px;
                        height: 19px;
                        font-size: 100%;
                        " href="/driversuccess" target="_self">Save</a>
                        <a style="
                        position: relative;
                        color: rgb(0,0,0,0);
                        padding: 10px 5px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        border-radius: 20%;
                        left: -343px;
                        top: -70px;
                        width: 161px;
                        height: 3px;
                        font-size: 100%;
                        " href="/t-c" target="_self">Save</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>