<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UMakan - He&She</title>
  <link rel="stylesheet" href="/css/vars.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Navbar -->
  <header class="navbar">
    <h1>UMakan</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/HE-SHE">HE&SHE</a>
    </nav>
  </header>

  <!-- First Banner Section -->
  <section class="banner">
    <h2 class="visually-hidden">Banner Section</h2>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/5edd93048541e8faefff161313e19f4cbbb9b36250e526f17761572f00f680eb?placeholderIfAbsent=true&apiKey=8655b9ec1d754c3b8ca8d9778a12d12f"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/5edd93048541e8faefff161313e19f4cbbb9b36250e526f17761572f00f680eb?placeholderIfAbsent=true&apiKey=8655b9ec1d754c3b8ca8d9778a12d12f 1x,
          https://cdn.builder.io/api/v1/image/assets/TEMP/5edd93048541e8faefff161313e19f4cbbb9b36250e526f17761572f00f680eb?width=2880&apiKey=8655b9ec1d754c3b8ca8d9778a12d12f 2x"
      class="banner-image"
      alt="Banner promotional content"
      width ="456"
    />
  </section>
</body>
</html>
