<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Loyalty Point</title>
        <link rel="stylesheet" href="/css/loyaltyPointCss.css">
    </head>
    <body>
        <div class="image-container">
            <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/7519d5e4f296eabaceefca835f65f3f788234e835248b1b87626bc40866d90c1?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4"
                class="hero-image"
                alt="Hero section main image"
                />
        </div>


    </body>