<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Order Confirmed </title>
        <link rel="stylesheet" href="/css/orderConfirmedCss.css">
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="order-confirmation-container">
            <a href="/">
            <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b5b8dddb00bc40219643e888b18307d55a612c4390e59e8e48b526d6b211777?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4"
                class="status-icon-small"
                alt=""
                />
            Back to Main Menu</a>
            <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/67ccc3f9ec78caeabb05ff60eb6bc6926334b9d0674f8543314c9eb4c1457c86?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4"
                class="status-icon-large"
                alt="Order confirmation checkmark"
                />
            <h1 class="confirmation-title">¡Order Confirmed!</h1>
            <p class="confirmation-message">
                Your order has been placed successfully
            </p>
            <p class="delivery-info">Delivery by Thu, 25th, 4:00 PM</p>
            <a href="/deliverytime" class="track-order-link" tabindex="0">Track my order</a>
            <p class="support-message">
                If you have any questions, please reach out directly to our customer support
            </p>
        </div>

    </body>