<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Order Cancelled</title>
        <link rel="stylesheet" href="/css/orderCancelledCss.css">
    </head>

    <body>
        <div class="order-canceled-container">
            <div class="content-wrapper">
                <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b5b8dddb00bc40219643e888b18307d55a612c4390e59e8e48b526d6b211777?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4"
                    class="decorative-image"
                    alt=""
                    />
                <div class="message-container">
                    <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/67ccc3f9ec78caeabb05ff60eb6bc6926334b9d0674f8543314c9eb4c1457c86?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4"
                        class="status-icon"
                        alt="Order canceled status icon"
                        />
                    <h1 class="status-title">¡Order Canceled!</h1>
                    <p class="status-message">Your order has been canceled</p>
                    <p class="cancel-time">Canceled by Thu, 25th, 4:00 PM</p>
                    <p class="thank-you-message">Thanks for using Umakan!</p>
                    <p class="support-message">
                        If you have any questions, please reach out directly to our customer support
                    </p>
                </div>
            </div>
        </div>

    </body>