<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Cancelled</title>
    <link rel="stylesheet" href="/css/orderCancelledCss.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Inter:wght@900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div class="order-canceled-container">
            <div class="order-content">
                <a href="/">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f9477ec50607019b3f43d3597e34626d91f39708496978d597117b40d5a596ca?placeholderIfAbsent=true&apiKey=d0bcfac6773b422b93b43786ecb1116f" class="decorative-element" alt="" aria-hidden="true">
                </a>
                <div class="order-status-wrapper">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5c2b1077311615ba37e1097b9abd8f79e03ff4219553cc7fd0621faa06408031?placeholderIfAbsent=true&apiKey=d0bcfac6773b422b93b43786ecb1116f" class="status-icon" alt="Order canceled status icon">
                    <h1 class="status-title">¡Order Canceled!</h1>
                    <p class="status-message">Your order has been canceled</p>
                    <p class="cancel-timestamp">Canceled by Thu, 25th, 4:00 PM</p>
                    <p class="brand-message">Thanks for using Umakan!</p>
                    <p class="support-message">If you have any questions, please reach out directly to our customer support</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>