<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pickup Successful</title>
        <link rel="stylesheet" href="/css/pickupSuccessCss.css">
    </head>


    <body>
        <div class="container">
            
            <div class="content-wrapper">
                <div class="image-container">
                    <a style="
                        background-color: #bf7f96;
                        color: white;
                        padding: 2px 2px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        border-radius: 100%;
                        position: relative;
                        left: 12px;
                        top: 12px;
                        width: 2.5%;
                        height: 20%;
                        font-size: 20%;
                        " href="/" target="_self">&lt;</a>
                    <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/75769435e310acf10c531188982d57e9e7d4114ca962a0bf8e25636dddd19622?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4"
                        class="responsive-image"
                        alt="Featured content image"
                        />
                    <a style="
                        background-color: #bf7f96;
                        color: white;
                        padding: 11px 2px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        border-radius: 20%;
                        position: relative;
                        left: 152px;
                        top: -80px;
                        background-color: #bf7f96;
                        width: 34%;
                        height: 20%;
                        font-size: 76%;
                        " href="/" target="_self">Back to Main Page</a>
                </div>
            </div>
        </div>

    </body>






