<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pickup Successful</title>
        <link rel="stylesheet" href="/css/pickupSuccessCss.css">
    </head>


    <body>
        <div class="container">
            <div class="content-wrapper">
                <div class="image-container">
                    <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/75769435e310acf10c531188982d57e9e7d4114ca962a0bf8e25636dddd19622?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4"
                        class="responsive-image"
                        alt="Featured content image"
                        />
                </div>
            </div>
        </div>

    </body>









