
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Q-Bistro</title>
        <link rel="stylesheet" href="/css/qbistroCss.css">
    </head>
    
<body>
    <div class="section-container">
        <div class="image-container">
            <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/61505fe1a9c808ea0633fbb5b02a54acf86cd02c5e0d0c461307aa22b6cc5d83?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4"
                class="responsive-image"
                alt="Section visual content"
                />
              </div>
    </div>
</body>