<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Q-Bistro</title>
        <link rel="stylesheet" href="/css/qbistroCss.css">
    </head>
    
<body>
    <div class="section-container">
        <div class="image-container">
            <a style="
                        background-color: #f5f5f5;
                        color: black;
                        padding: 14px 2px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        border-radius: 100%;
                        position: relative;
                        left: 77px;
                        top: 18px;
                        width: 50px;
                        height: 22px;
                        " href="/" target="_self">&lt;</a>
            <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/61505fe1a9c808ea0633fbb5b02a54acf86cd02c5e0d0c461307aa22b6cc5d83?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4"
                class="responsive-image"
                alt="Section visual content"
                />
              </div>
    </div>
</body>