<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reason Canceling</title>
    <link rel="stylesheet" href="/css/reasonCancelCss.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="image-container">
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/21e2a193645707b3b44c3db4e8d5772b76bcb43298926201f369f69777f545e3?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4"
    class="hero-image"
    alt="Hero section main image"
  />
</div>

</body>