<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reason Canceling</title>
    <link rel="stylesheet" href="/css/reasonCancelCss.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="image-container">
        <a style="
                        background-color: #f5f5f5;
                        color: black;
                        padding: 12px 2px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        border-radius: 100%;
                        position: relative;
                        left: 73px;
                        top: -342px;
                        width: 41px;
                        height: 23px;
                        " href="/" target="_self">&lt;</a>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/21e2a193645707b3b44c3db4e8d5772b76bcb43298926201f369f69777f545e3?placeholderIfAbsent=true&apiKey=20e9cf7e0b154765ac7db15245f319f4"
    class="hero-image"
    alt="Hero section main image"
  />
  <a style="
                        position: relative;
                        background-color: #bf7f96;
                        color: white;
                        padding: 10px 5px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        border-radius: 20%;
                        left: -293px;
                        top: 340px;
                        width: 161px;
                        height: 26px;
                        font-size: 150%;
                        " href="/ordercancelled" target="_self">Cancel Order</a>
</div>

</body>